.well
  %h4 Question list
.container
  .boxes
    - @questions.each do |q|
      .media{"data-target" => question_path(q)}
        .media-left
          %img.mr-3{:alt => "gravatar", :src => q.gravatar}/
        .media-body
          %h5.mt-0
            = q.email
            asked:
          %div.time.hidden-xs
            = time_ago_in_words q.created_at
            ago
          = truncate q.body, lenght: 300
          %div.view_answer.hidden-xs
            %a.btn.btn-success.btn-sx{:href => question_path(q)} View answer
  - if @questions.empty?
    .alert.alert-info Nothing here yet, be the first to ask
