// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin-bottom: 1px;
}

.boxes {
  .media {
      border: thin solid #ddd;
      padding: 1em;
      border-radius: 10px;
      background-color: #eee;
      margin-bottom: 1px;
      position: relative; // relative to his children
      .time {
          position: absolute; //absolute to his father component
          top: 8px;
          right: 8px;
          color: #666;
      }
      .view_answer {
          position: absolute; //absolute to his father component
          bottom: 8px;
          right: 8px;
      }
  }
}
